<div class="d-flex flex-column h-100">
  <div class="flex-grow-1" *ngIf="plantumlHolder.image">
    <img class="mw-100 mh-100" [src]="plantumlHolder.image"/>
  </div>
  <div class="image-footer d-flex flex-row w-100 p-1 align-items-center justify-content-end">
    <div class="flex-grow-1">
      <mat-spinner *ngIf="plantumlHolder.loading" [diameter]="28"></mat-spinner>
    </div>
    <mat-button-toggle-group [(value)]="plantumlHolder.type">
      <mat-button-toggle value="svg">
        svg
      </mat-button-toggle>
      <mat-button-toggle value="png">
        png
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
