<div class="h-100 w-100 d-flex flex-column align-items-center"
     [ngClass]="{'justify-content-center': plantumlHolder.loading}">

  <mat-spinner *ngIf="plantumlHolder.loading"></mat-spinner>

  <ng-container *ngIf="!plantumlHolder.loading">
    <div class="pt-4 ps-4 pe-4">
      <p>
        Type your <a href="https://plantuml.com/de/sitemap-language-specification">PlantUML specification</a> into
        the editor window. As soon as it is valid, the generated diagram will be shown instead of this description.
      </p>

      <p>
        You can download the generated image by right clicking it and selecting your browsers save option.
      </p>
    </div>

    <div class="flex-grow-1 w-100 d-flex flex-column justify-content-end pb-4">

      <mat-divider class="w-100"></mat-divider>
      <p class="text-center mb-1 mt-1">You can also open an example diagram from the slideshow below</p>
      <div class="mb-1 row justify-content-center align-items-center">
        <div class="col-auto d-flex flex-row align-items-center alert alert-info p-2">
          More examples on the way
          <mat-icon class="ms-1">sentiment_satisfied_alt</mat-icon>
        </div>
      </div>
      <mat-divider class="w-100"></mat-divider>

      <div class="w-100 mt-3">
        <ngb-carousel [showNavigationArrows]="true"
                      [showNavigationIndicators]="false"
                      class="w-100">
          <ng-template *ngFor="let exampleDiagramEntry of exampleDiagramEntries" ngbSlide>
            <app-example-diagram [title]="exampleDiagramEntry.title"
                                 [type]="exampleDiagramEntry.type">
            </app-example-diagram>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </ng-container>
</div>
