.app-example-diagram {

  ::ng-deep {

    img {
      user-select: none;
      height: 200px;
      width: auto;
      max-width: 90vw;
    }

    .mat-card-header-text {
      margin: 0;
    }

    .mat-card-title {
      overflow-wrap: anywhere;
    }

    .mat-mdc-card-content {
      text-align: center;
    }
  }
}
