.mat-menu-panel {
  min-height: unset !important;

  .mat-menu-content {
    height: unset;
  }

  &:not(.slim-menu) {
    .mat-menu-content {
      padding: 1em !important;
    }
  }

  &.slim-menu {
    .mat-menu-content {
      padding: 0em 1em;
    }
  }
}
