$primary: #CC5555;

@import "~bootstrap/scss/bootstrap";
@import "styles/card";
@import "styles/carousel";
@import "styles/theming";
@import "styles/menu";

::-moz-selection {
  background-color: $primary;
  color: $light;
}

::selection {
  background-color: $primary;
  color: $light;
}

*.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button, a {
  outline: 0 !important;
}

.link {
  color: $primary !important;
  cursor: pointer !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
