<div class="h-100 w-100 d-flex flex-column">

  <div class="app-primary-theme">
    <app-footer *ngIf="splitDirection==='vertical'"></app-footer>
  </div>

  <div class="flex-grow-1 overflow-hidden" [ngClass]="{'mh-100': splitDirection==='horizontal'}">
    <as-split [direction]="splitDirection || 'horizontal'">

      <as-split-area [size]="60">
        <div class="app-primary-theme d-flex flex-column h-100 w-100">
          <div class="flex-grow-1">
            <app-editor></app-editor>
          </div>
          <app-footer *ngIf="splitDirection==='horizontal'"></app-footer>
        </div>
      </as-split-area>

      <as-split-area [size]="40">
        <div class="app-secondary-theme h-100 w-100">
          <app-image *ngIf="plantumlHolder.image"></app-image>
          <app-description *ngIf="!plantumlHolder.image"
                           [scrollDirection]="splitDirection">
          </app-description>
        </div>
      </as-split-area>

    </as-split>
  </div>

</div>
