.footer::ng-deep {
  .mat-toolbar {
    height: auto;
    padding: 6px 12px;
  }

  .mat-icon {
    width: 28px;
    height: 28px;
    font-size: 28px;
    line-height: 28px;
  }
}

.chat-gpt-button {
  background-color: #212121;
  margin-right: 0.5em;

  .mat-icon {
    font-size: 20px;
  }
}
