.footer::ng-deep {
  .mat-toolbar {
    height: auto;
    padding: 6px 12px;
  }

  .mat-icon {
    width: 25px;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
  }

  .mat-mdc-icon-button {
    height: 50px;
    width: 50px;

    img {
      vertical-align: unset;
    }
  }
}

.chat-gpt-button {
  background-color: #212121 !important;

  .mat-icon {
    font-size: 20px;
  }
}
